/*New catalog*/

/*Titre H1*/
#catalog-v2 .textAccent h1 {
  color: #fff!important;
} 
#catalog-v2 .bgTint {
    background-color: #0B8E36!important;
}
/*Mise en avant RS*/
#catalog-v2 .CatalogCard-title.CatalogCard-title--premium, #catalog-v2 h3.CatalogCardLine-title.textAccent.CatalogCard-title--premium {
    background: #f39200!important;
}
