@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'oswaldbold';
	src: url('./fonts/oswald-bold-webfont.eot');
	src: url('./fonts/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('./fonts/oswald-bold-webfont.woff2') format('woff2'),
		 url('./fonts/oswald-bold-webfont.woff') format('woff'),
		 url('./fonts/oswald-bold-webfont.ttf') format('truetype'),
		 url('./fonts/oswald-bold-webfont.svg#oswaldbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'oswaldlight';
	src: url('./fonts/oswald-light-webfont.eot');
	src: url('./fonts/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('./fonts/oswald-light-webfont.woff2') format('woff2'),
		 url('./fonts/oswald-light-webfont.woff') format('woff'),
		 url('./fonts/oswald-light-webfont.ttf') format('truetype'),
		 url('./fonts/oswald-light-webfont.svg#oswaldlight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'oswaldmedium';
	src: url('./fonts/oswald-medium-webfont.eot');
	src: url('./fonts/oswald-medium-webfont.eot?#iefix') format('embedded-opentype'),
		 url('./fonts/oswald-medium-webfont.woff2') format('woff2'),
		 url('./fonts/oswald-medium-webfont.woff') format('woff'),
		 url('./fonts/oswald-medium-webfont.ttf') format('truetype'),
		 url('./fonts/oswald-medium-webfont.svg#oswaldmedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'oswald_regularregular';
	src: url('./fonts/oswald-regular-webfont.eot');
	src: url('./fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('./fonts/oswald-regular-webfont.woff2') format('woff2'),
		 url('./fonts/oswald-regular-webfont.woff') format('woff'),
		 url('./fonts/oswald-regular-webfont.ttf') format('truetype'),
		 url('./fonts/oswald-regular-webfont.svg#oswald_regularregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.test{display:none;}
.clear{
	clear:both;
}
h1{
	font-family:oswaldlight !important;
	font-size:42px !important;
	color:#ea6448 !important;
	text-transform:uppercase !important;
	border:none !important
}
h2{
	background: url(./images/bg_title_pres.jpg) top left no-repeat;
	font-family: oswaldlight;
	text-transform: uppercase;
	color: #454545;
	font-weight: 300;
	font-size: 34px;
	margin: 0;
	padding: 25px 0 19px 0;
	border-bottom: none;
}
h3{
	font-family:oswaldbold;
	font-size:20px;
	color:#96bf31;
	text-transform:uppercase
}
h4{
	font-size:18px;
	color:#454545;
	font-family:oswald_regularregular;
	color:#454545;
}
p{

}
a{
	text-decoration:none; 
	color:#67b13a;
}
quote{

}
img{
	display:block;
}
ul{
	padding:0;
	margin:0;
	list-style:none;
}
body{
	font-family:oswaldlight;
	margin:0;
	padding:0;
	background:url(./images/bg_top_body.jpg) top repeat-x #fff;
}

#page{
	background:url(./images/bg_page_top.jpg) top center no-repeat;
	width:970px;
	margin:0 auto;
}
.header{
	position:relative
}
.logo{
	background: url(./images/logo_fr.png);
	width: 240px;
	height: 164px;
	display: block;
	float: left;
	margin-top: 74px;
	text-indent: -9999px;
}
.logo:lang(en){
	background: url(./images/logo_uk.png);
	width: 240px;
	height: 164px;
	display: block;
	float: left;
	margin-top: 74px;
	text-indent: -9999px;
}
.logo2{
	background: url(./images/img_header_new.png);
	width: 133px;
	height: 83px;
	display: block;
	float: left;
	margin-top: 72px;
	text-indent: -9999px;
}
.logo2:lang(en){
	background: url(./images/img_header_en.png) !important;
}
.header_left {
	float: left;
	margin-bottom: 21px;
}
.header_left:lang(en) {
	float: left;
	margin-bottom: 0;
}
.header_right {
	float: right;
	width: 698px;
}
#langue{
	float:right;
	margin-top: 16px;
}
#langue .selector{
	background: url(./images/bg_select_langue.jpg);
	width: 69px !important;
	height: 29px;
	padding: 0;
}
#langue .selector span{
	background: none;
	color: #6a6a6a;
	font-size: 16px;
	font-family: oswaldbold;
	line-height: 29px;
	height: 29px;
	padding-left: 9px;
	padding-top: 2px;
}
#langue .selector select{
	height:29px;
}
.header_right img{
	margin-top:27px;
	float: left;
}
.menu_top{
	float:left;
	margin-left:46px;
	margin-top:125px;
}
.menu_top li{
	float:left;
	margin-right:30px;
}
.menu_top li a{
	color:#f7ac29;
	font-size:20px;	
	font-weight:600
}
#search_top{
	float: right;
	width: 254px;
	margin-top: 74px;
}	
.site-banner .gsf-fields .gsf-input {
	width: 187px;
	height: 40px !important;
	border-bottom: 1px solid #ea6448;
	border-left: 1px solid #ea6448;
	border-top: 1px solid #ea6448;
	border-right: none;
	float: left;
	padding: 0 12px 0 12px;
	color: #b5b5b5;
	font-size: 20px;
	font-family: oswald_regularregular;
	min-height: auto;
	padding-top: 7px;
}
.site-banner .gsf-submit-btn {
	background: url(./images/button_search.jpg) !important;
	width: 41px;
	height: 40px;
	border: none;
	text-indent: -9999px;
	float: left;
	min-height: auto !important;
}
h1.slogan{
	font-family: oswaldlight;
	font-size: 26px !important;
	color: #ea6448;
	text-transform: uppercase;
	display: block;
	text-align: right;
	margin-top: 20px;
}
.menu_bottom{
	margin-top:21px;
	overflow: hidden;
}
.menu_bottom li{
	float: left;
	width: 160px;
	height: 41px;
	margin-right: 1px;
}
.menu_bottom a{
	width:160px;
	height:41px;
	line-height:44px;
	text-align:center;
	font-family: oswaldlight;
	font-size:20px;
	color:#000;
	text-transform:uppercase;
	background:#ebebeb;
	display:block
}
.social{
	position:absolute;
	right:-73px;
	top:73px;
}
.social ul{
	
}
.social ul li{
	margin-bottom:15px;
}
.social ul li:last-child{
	margin-bottom:0;
}
.social ul li a{
	width:45px;
	height:45px;
	display:block;
	border-radius: 50%;
}
.ico_fb{
	background:url(./images/ico_fb.jpg);
}
.ico_twitter{
	background:url(./images/ico_twitter.jpg);
}
.ico_flickr{
	background:url(./images/ico_flickr.jpg);
}
.ico_youtube{
	background:url(./images/ico_youtube.png);
}
.inside{
	width:970px;
	margin:0 auto	
}
.sb-date-days, .sb-date-period{
	display:none !important;
}
p.sb-place {
	font-size: 21px;
	color: #ea6448;
	font-weight:600;
	letter-spacing: 0.3px;
	margin-top:5px
}
span.sb-place-country {
	padding-left: 21px;
	background: url(./images/bg_country.jpg) left no-repeat;
	margin-left: 11px;
}
header p{
	margin:0;
}
.site-banner{
	background:none !important;
}
.site-banner .inside {
	padding:0px !important;
	background:url(./images/bg_page_top.jpg) top center no-repeat;
}
.js .site-banner .gsf-fields {
	display:block !important;
}
.site-banner .gsf-trigger {
	display:none
}
.js .site-banner .gsf-fields {
	display: block !important;
	background: none !important;
	padding: 0 !important;
	top: -180px!important;
	right: -115px !important;
}
.js .site-banner .gsf-fields:lang(en){
top: -174px !important;
}
.lang-switcher {
	font-size: 1.2rem !important;
	background: #FFF !important;
	margin-top: 16px !important;
	border: 1px solid #ea6448 !important;
}
.ls-trigger::after {
	border-color: #ea6448 transparent transparent transparent !important;
}
.mn-item-lvl-1 {
	position: relative !important;
	margin-right: 1px !important;
}
.mn-item-lvl-1:last-child{
	margin-right: 0px !important;
}
.mn-item-lvl-1 a:hover{
	background:#96bf31;
	color:#fff !important;
}

.mn-item-lvl-1 > .mn-link {
	min-height: 41px !important;
	color: #000 !important;
	font-size: 15px;
	font-weight: 300;
	width: 137px;
	height: 41px;
	padding: 0 !important;
	background: #ebebeb;
	text-align: center;
	line-height: 41px;
}
.mn-link-text::before {
	display:none !important;
}
.mn-menu-line {
	border-bottom:none !important;
}
.main-navigation {
	padding: 0 !important;
	box-shadow: none !important;
	float: left;
}
.mn-menu li:first-child{
	display:none;
}
header.is-stuck{
	background: #fff !important;
	padding: 0 !important;
	box-shadow: none !important;
	border-bottom: none !important;
}
header.is-stuck .header_left{
	display:none !important
}
header.is-stuck .header_right{
	display:none !important
}
.mn-menu-itemi {
	margin-right: 1px;	
}
.mn-menu-item:last-child{
	margin-right:0 !important;
}
.wrapper, .site-wrapper {
	max-width: 1060px;
	margin: auto;
	width: 970px;
	padding: 0 !important;
	box-shadow: none !important;
}
.slider .la-item-content {
	position: absolute;
	width: 859px !important;
	bottom: 0;
	left: 0;
	padding: 11px 100px 11px 11px !important;
	background: url(./images/bg_title_slidere_png.png) repeat;
	height: 60px !important;
	padding-right: 114px;
}
.la-slider .swiper-wrapper .la-item-img {
	height: 443px;
}
.la-item-content .la-item-tag {
	text-transform: uppercase;
	background: url(./images/bg_title_pres.jpg) top left no-repeat;
	color: #fff;
	font-size: 35px;
	font-family: oswaldlight !important;
	position: absolute;
	top: -313px;
	left: 0;
	width: 146px;
	z-index: 9999;
	padding: 17px 0 0 10px;
}
.la-slider .la-item-title {
	font-size: 16px;
	font-weight: bold;
	color: #454545;
	height:20px;
	line-height:20px;
}
h2.la-item-title {
	border-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	text-transform: none;
	font-size: 2.2rem;
	font-weight: bold;
	color: #474d4e;
	line-height: 1.3;
	-webkit-transition: color .2s;
	transition: color .2s;
	padding: 0;
	background: none;
}
.la-slider .la-item-title a{
	color: #454545;
	text-transform: uppercase;
	font-size: 23px !important;
}
.slider .btn-primary {
	background: url(./images/plus_slider.png) left no-repeat;
	padding: 0 0 0 27px !important;
	border: none !important;
	line-height: 20px;
	height: 20px;
	color: #96bf31 !important;
	font-size: 20px;
	text-transform: none !important;
	font-family: oswald_regularregular !important;
	font-weight: normal !important;
	margin-top: 20px;
	text-decoration:underline
}
.slider .btn-primary i{
	display:none !important;
}
.la-slider .la-item-content p {
	margin-top: 0px !important;
}
.la-item-content {
	overflow: visible !important;
}
#zone1 .main-title-with-link {
	border-bottom: none;
	margin-bottom: 0 !important;
	position: absolute;
	z-index: 10;
	right: 0;
	bottom: 0;
	width: 167px;
	height: 43px;
	line-height: 43px;
	background: #96bf31;
}
.main-title-with-link h1{
	display:none !important;
}
.main-title-with-link a i{
	display:none !important;
}
.link-view-all {
	padding: 0 !important;
	color: #fff !important;
	text-decoration: none;
	font-size: 22px;
	height: 43px;
	line-height: 43px;
	margin-top: 0 !important;
	width: 100%;
	text-align: center;
}
div#zone1 {
	position: relative;
	margin-top:22px;
}
.slider .slider-play-btn {
	display: none;
}
.slider-pagin {
	position: absolute !important;
	margin-top: 0;
	padding: 0px !important;
	background: none !important;
	color: #ffffff;
	z-index: 10;
	bottom: 45px;
	right: 9px;
}
.slider-pagin-item {
	display: inline-block !important;
	width: 15px !important;
	height: 15px !important;
	border-radius: 50% !important;
	background: #96bf31 !important;
	border: 4px solid #96bf31 !important;
	cursor: pointer;
}
.slider-pagin-item.is-active {
	background: #fff !important;
	border-color: #96bf31 !important;
}
#zone2 .inside{
	width:782px !important;
}
#zone2 article.la-item {
	width: 380px;
	height: 172px;
	float: left;
	background: url(./images/bg_repeat_bottom_article.jpg) bottom repeat-x;
	border-bottom: none !important;
	padding-bottom: 33px;
	margin-right: 11px;
}
.la-slider .slider-pagin-btn {
	display: none !important;
}
.la-item + .la-item {
	margin-top: 0px !important;
}
#zone2 article.la-item .la-item-content {
	overflow: hidden;
	float: left;
	width: 180px;
	margin-left: 15px;
}
#zone2 article.la-item .la-item-img {
	float: left;
	margin-right: 0;
	width: 180px;
}
#zone2 article.la-item .la-item-tag{
	position: static !important;
	z-index: 10;
	padding: 0 !important;
	background: none !important;
	color: #454545 !important;
	font-size: 18px !important;
	line-height: 25px !important;
	font-weight: 600;
	display:none !important;
}

#zone2 article.la-item .la-item-title a{
	font-size: 18px !important;
	line-height: normal !important;
	color: #454545 !important;
}
#zone2 article.la-item .la-item-desc{
	font-size: 17px !important;
	line-height: normal !important;
	color: #454545 !important;
	margin-top: 0 !important;
	height: 51px;
	overflow: hidden;
}
html[data-useragent*='MSIE 10.0'] #zone2 article.la-item .la-item-desc{
  line-height: 18px !important;
}
#zone2 article.la-item .la-item-btn{
	background: url(./images/plus_slider.png) left no-repeat;
	padding-left:27px;
}
#zone2 article.la-item .la-item-btn a{
	color:#96bf31;
	font-size:19px;
	text-decoration:underline
}
#zone3{
	width: 170px;
	float: right;
	padding-left: 0 !important;
}
#zone3 .quicklinks{
	background: url(./images/en_clic.jpg) top no-repeat;
	margin-top: 29px;
}
#zone3 .quicklinks .block-title{
	color: #454545 !important;
	font-size: 33px !important;
	font-family: oswaldlight !important;
	padding-top: 30px !important;
	padding-bottom: 18px !important;
	margin-bottom: 0px !important;
	border-bottom: 0px !important;
	font-weight: normal !important;
	text-transform: uppercase;
	font-weight:normal !important;
}
#zone3 .quicklinks .ql-list a i{
	display:none !important;
}
#zone3 .quicklinks .btn-primary {
	color: #ffffff !important;
	background-color: #ebebeb !important;
	border: none !important;
	margin-bottom: 10px !important;
}
.la-item-desc{
	color:#454545	
}
#zone3 .quicklinks .ql-list .ql-item a{
	color: #c84872 !important;
	font-size: 19px !important;
	font-style: italic !important;
	font-weight: normal !important;
	width: 158px !important;
	padding: 0 !important;
	height: 66px !important;
	padding-top: 10px !important;
	text-align: left !important;
	padding-left: 9px !important;
}
#zone3 .quicklinks .ql-list .ql-item:first-child span{
	color:#c84872 !important;
}
#zone3 .quicklinks .ql-list .ql-item:nth-child(2) span{
	color:#67b13a !important;
}
#zone3 .quicklinks .ql-list .ql-item:last-child span{
	color:#ea6448 !important;
}
.pres{
	overflow:hidden;
	margin-top:29px;
}
.bref{
	float:left;
	width:470px;
	box-sizing: initial;
	background: url(./images/bg_motif.jpg) bottom no-repeat;
	padding-bottom: 35px;
}
.bref h2{
	background: url(./images/bg_title_pres.jpg) top left no-repeat;
	font-family: oswaldlight;
	text-transform: uppercase;
	color: #454545;
	font-weight: 300;
	font-size: 34px;
	margin: 0;
	padding: 25px 0 19px 0;
	border: none;
	box-sizing: initial;
}
.bref h2:lang(en){
	font-size: 32px;
}
.solutions h2:lang(en){
	font-size: 32px;
}
.solutions{
	float:right;
	background: url(./images/bg_motif.jpg) bottom no-repeat;
	padding-bottom: 38px;
	width: 480px;
}
.solutions h2{
	background: url(./images/bg_title_pres.jpg) top left no-repeat;
	font-family: oswaldlight;
	text-transform: uppercase;
	color: #454545;
	font-weight: 300;
	font-size: 34px;
	margin: 0;
	padding: 25px 0 19px 0;
	border: none;
	box-sizing: initial;
}
.bref1{
	background: url(./images/bref1.jpg) left no-repeat;
	height: 57px;
	color: #c6d133;
	font-family: oswaldlight;
	font-size: 70px;
	padding-left: 55px;
	padding-top: 31px;
	border-right:8px solid #fef4f3;
	line-height: normal;
}
_:-ms-fullscreen, :root .bref1{
	height:87px;
}
_:-ms-fullscreen, :root .bref2{
	height:87px;
}
_:-ms-fullscreen, :root .bref3{
	height:87px;
}
_:-ms-fullscreen, :root .bref4{
	height:87px;
}
.bref1 sup{
	font-size: 23px;
	font-style: italic;
	display: block;
	float: right;
	margin-right: 50px;
	line-height: normal;
}
.bref2{
	background: url(./images/bref2.jpg) left no-repeat;
	height: 57px;
	.height:87px;
	color: #f7ac29;
	font-family: oswaldlight;
	font-size: 70px;
	padding-left: 115px;
	padding-top: 31px;
	border-right: 8px solid #fef4f3;
	margin-top: 19px;
	line-height: normal;
}
.bref2 sup{
	font-size: 23px;
	font-style: italic;
	display: block;
	float: right;
	margin-right: 108px;
	line-height: normal;
}
.bref3{
	background: url(./images/bref3.jpg) left no-repeat;
	height: 57px;
	.height:87px;
	color: #ea6448;
	font-family: oswaldlight;
	font-size: 70px;
	padding-left: 162px;
	padding-top: 31px;
	border-right: 8px solid #fef4f3;
	margin-top: 19px;
	line-height: normal;
}
.bref3 span{
	float: left;	
	line-height: normal;
}
.bref3 sup{
	font-size: 23px;
	font-style: italic;
	display: block;
	float: right;
	margin-right: 5px;
	float:left;
	line-height: normal;
}
.bref4{
	background: url(./images/bref4.jpg) left no-repeat;
	height: 57px;
	.height:87px;
	color: #c84872;
	font-family: oswaldlight;
	font-size: 70px;
	padding-left: 232px;
	padding-top: 31px;
	border-right: 8px solid #fef4f3;
	margin-top: 19px;
	line-height: normal;
}
.bref4 sup{
	font-size: 23px;
	font-style: italic;
	display: block;
	float: right;
	margin-right: 16px;
	line-height: normal;
}
.solution{
	background:url(./images/solutions.jpg) right no-repeat;
	height:406px;
	width:480px;


}
.solution ul{
	
}
.solution ul li{
	background: url(./images/bg_list.jpg) left no-repeat;
	padding-left: 9px;
	margin-bottom: 10px;
	font-family: oswald_regularregular;
	line-height: normal;
}
.boutons_bref{
	overflow:hidden;
	margin-top:20px;
}
.boutons_bref a{
	float:right;
	display:block;
	height:48px;
	line-height:48px;
	text-align:center;
	padding:0 20px;
	background:#ebebeb;
	color:#454545;
	font-family: oswaldlight;
	text-transform:uppercase;
	margin-left:2px;
}
.boutons_bref a span{
	color:#ea6448;
	font-family: oswald_regularregular;
}
.videos_twitter{
	overflow:hidden;
	margin-top:30px;
	background:url(./images/bg_motif2.jpg) bottom no-repeat;
	padding-bottom:30px;
        float:left;
}
.videos{
	float:left;
	width:470px;	
}
.twitter{
	width:480px;
	float:right;
}
.videos h2{
	background: url(./images/bg_title_pres.jpg) top left no-repeat;
	font-family: oswaldlight;
	text-transform: uppercase;
	color: #454545;
	font-weight: 300;
	font-size: 34px;
	margin: 0;
	padding: 25px 0 19px 0;
	border-bottom:none;
}
.twitter h2{
	background: url(./images/bg_title_pres.jpg) top left no-repeat;
	font-family: oswaldlight;
	text-transform: uppercase;
	color: #454545;
	font-weight: 300;
	font-size: 34px;
	margin: 0;
	padding: 25px 0 19px 0;
	border-bottom:none;
}
.footer{
	margin-top: 0;
	padding-bottom: 63px;
	background: url(./images/bg_page_top.jpg) bottom center no-repeat;
	float: none;
	clear: both;
	width: 100% !important;
	display: block !important;
}
.logo_footer{
	background:url(./images/logo_footer.jpg);
	width:170px;
	height:68px;
	display:block;
	float:left;
}
.footer_links{
	float:right;
	line-height:68px;
}
.footer_links li:first-child{
	background:none
}
.footer_links li{
	background:url(./images/puce_footer_links.jpg) left no-repeat;
	float:left;
	padding-left:18px;
	margin-left:12px;
}
.footer_links li a{
	font-size:16px;
	color:#454545;
}
.site-footer {
	background: url(./images/bg_top_body.jpg) bottom repeat-x !important;
}
.site-footer .inside {
	padding: 0 !important;
	width:970px;
	display:block
}
.site-footer a.pg-item-link {
	width: 970px !important;
	float: none;
	display: block;
}
.pub{
	background:url(./images/bg_motif2.jpg) bottom no-repeat;
	padding-bottom:36px;
	padding-top:30px;
}
.pub img{
	display:block;
	margin:0 auto;
}
.bouton_videos{
		
}
.bouton_videos a{
	float: right;
	display: block;
	height: 48px;
	line-height: 48px;
	text-align: center;
	padding: 0 20px;
	background: #ebebeb;
	color: #454545;
	font-family: oswaldlight;
	text-transform: uppercase;
	margin-left: 2px;
}
.bouton_videos a span{
	color: #ea6448;
	font-family: oswald_regularregular;
}
.partner .main-title-with-link{
	display:none !important;
}
.partner .tabs-nav{
	background: url(./images/bg_title_pres.jpg) top left no-repeat;
	font-family: oswaldlight;
	text-transform: uppercase;
	color: #454545;
	font-weight: 300;
	font-size: 34px;
	margin: 0;
	padding: 25px 0 19px 0;
	border-bottom: none;
}
.partner .tabs-nav ul{
	border:none !important;
}
.partner .tabs-nav ul li a{

	font-family: oswaldlight;
	text-transform: uppercase;
	color: #454545;
	font-weight: 300;
	font-size: 34px;
	padding: 0 !important;
	border: none;
}
.partner .tabs-nav ul li:last-child a{
	color:#bcbcbc;	
}
.node13727 .list-articles article.la-item{
	width: 783px !important;


	background: url(./images/bg_actu.jpg) bottom no-repeat !important;
	padding-bottom: 35px !important;
}
.node13727 #zone2 .list-articles article.la-item .la-item-desc {
	height: auto;
}
.node13727 #zone2 .list-articles article.la-item .la-item-content {
	width: auto;
}
.node13727 #zone2 .list-articles article.la-item .la-item-title a {
	font-size: 18px !important;
	line-height: normal !important;
	color: #96bf31 !important;
	text-transform:uppercase;
}
.pagination{
	clear:both !important;
	border:none !important;
}
.pagination a {
	padding: 0.25em 0 !important;
	font-size: 20px;
}
.pagin-item.is-active a {
	background: none !important;
	color: #96bf31;
}
.pagination .pagin-prev a{
	background: url(./images/previous_pagination.jpg);
	width:6px;
	height:10px;
	display:block;
	text-indent:-9999px;
	float: left;
}
.pagination .pagin-prev a:hover{
	background: url(./images/previous_pagination.jpg) !important;
}
.pagination .pagin-next a{
	background: url(./images/next_pagination.jpg);
	width:6px;
	height:10px;
	display:block;
	text-indent:-9999px;
	float: left;
}
.pagination .pagin-next a:hover{
	background: url(./images/next_pagination.jpg) !important;
}
.pagin-item.pagin-prev {
	margin-right: 0 !important;
}
.pagin-item.pagin-next {
	margin-left: 0 !important;
}
.newsletter-form .nf-main-content{
	background:url(./images/bg_title_pres.jpg) top left no-repeat #ebebeb !important;
	overflow:hidden
}
.newsletter-form .nf-main-content .nf-title{
	font-family: oswaldlight;
	text-transform: uppercase;
	color: #454545;
	font-weight: 300;
	font-size: 34px;
	float:left;
}
.newsletter-form .nf-main-content form {
	float: left;
	width: 760px;
	margin-left: 10px;
}
.newsletter-form .nf-main-content form .ezxmltext-field{
	font-family: oswaldlight;
	text-transform: uppercase;
	color: #454545;
	font-weight: 300;
	font-size: 34px;
	float:left;
}
.newsletter-form .nf-main-content form .nf-form-item {
	float: right;
	margin-top: -6px;
}
.newsletter-form .nf-main-content form .nf-form-item label{
	display:none !important;	
}
.newsletter-form .nf-main-content form .nf-form-item .nf-form-input{
	float:left;
	margin:0
}
.newsletter-form .nf-main-content form .nf-form-item .nf-form-input input{
	width: 337px;
	height: 66px;
	line-height: 66px;
	padding: 0 15px;
	font-size: 20px;
	color: #b5b5b5;
	font-family: oswald_regularregular;
	border: 1px solid #e3e3e3;
	border-radius: 0 !important;
}
.newsletter-form .nf-main-content form .nf-form-item .nf-form-submit{
	float:left;
	margin:0
}
.newsletter-form .nf-main-content form .nf-form-item .nf-form-submit button{
	width: 66px;
	height: 66px;
	color: #fff;
	font-size: 26px;
	font-family: oswald_regularregular;
	background:url(./images/submit_news.jpg);
	margin: 0;
	padding: 0;
	text-indent:-9999px;
	border: none;
}
.newsletter-form .nf-main-content form .nf-form-item .nf-form-submit button i{
	display:none !important;
}
.article-navigation{
	display:none !important;
}
.mn-menu-submenu{
	background:url(./images/bg_sub_menu.jpg) top no-repeat #96bf31 !important;
	padding-top:30px !important;
	min-width:273px !important;
}
.mn-menu-submenu li a{
	font-size: 22px !important;
	font-family: oswaldlight !important;
	border-bottom: 1px solid #74a632 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.mn-menu-submenu .mn-link:hover, .mn-menu-submenu .mn-link:focus, .mn-menu-submenu .mn-link.is-active {
	padding-left: 22px !important;
	padding-right: 0;
	background: #96bf31 !important;
}
.mn-menu-submenu .mn-link, .mn-menu-submenu .mn-link, .mn-menu-submenu .mn-link {
	padding-left: 22px !important;
	padding-right: 0;
	background: #96bf31 !important;
}
.mn-item-lvl-2 {
	display: inline-block;
	width: 100%;
	height: 42px;
	line-height: 42px;
}
.mn-item-lvl-2 a{
	height: 42px;
	line-height: 42px;
}
.mn-menu-submenu li:first-child{
	display:block !important;
}
.main-title-with-link {
	border: none !important;

}
.at-publication{
	display:none !important;
}
.slider article.topic_theme::before{
	/*content: "à la une";
	text-transform: uppercase;
	background: url(./images/bg_title_pres.jpg) top left no-repeat;
	color: #fff;
	font-size: 35px;
	font-family: oswaldlight !important;
	position: absolute;
	top: 0;
	left: 0;
	width: 146px;
	z-index: 10;
	padding: 17px 0 0 10px;*/
}
main#main {
	min-height: 1100px;
}
span.at-theme{
	display:none !important;
}
figure{
	padding:0 !important;
	border:none !important
}
.article-content figcaption {
    font-size: 1.4rem;
    display: none;
}
.social-sharing {
    border: none !important;
}
.block-page .global-search-form .gsf-fields{
	padding:20px !important;
	background: #ebebeb !important;	
}
.block-page .global-search-form .gsf-fields .gsf-submit-btn{
	background: #96bf31 !important;	
	width:66px;
	height:68px;
	font-size:26px;
	padding:0
}
.block-page .global-search-form .gsf-fields input[type="search"]{
	height: 68px;
    border-bottom: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    color: #b5b5b5;
    font-size: 20px;
    line-height: 68px;
	font-family: oswald_regularregular;
}
img, table, td, blockquote, code, pre, textarea, input, video, svg {
    max-width: initial !important;
}
.esf-ei-description {
    width: 85% !important;
}
.esf-ei-title a{
	font-family: oswaldbold !important;
    color: #96bf31 !important;
    font-size: 20px !important;
    text-transform: uppercase;
}

.zone .article-wrapper .inside img{width:780px;}
.la-slider .swiper-wrapper .la-item-img {
    height: auto !important;
}
.mn-item-lvl-1>.mn-link:lang(en) {
    font-size: 15px !important;
}

#zone1 .block-title,#zone2 .block-title{display:none;}

h3.seo {
    background: rgba(0, 0, 0, 0) url("./images/bg_motif2.jpg") no-repeat scroll center top;
    color: #454545;
    font-family: oswaldlight;
    font-size: 16px;
    font-weight: normal;
    padding: 35px 0;
    text-transform: none;
}
.partner .pl-main-content{width:740px;}

.sticky-footer {
    background: rgba(0, 0, 0, 0) url("/theme/sima/images/fond-footer.png") no-repeat scroll 0 0;
    bottom: 0;
    min-height: 117px;
    position: fixed;
	right:0;
    width: 315px;
    z-index: 3;
}
.sticky-footer .asian {
    bottom: 0;
    position: fixed;
    right: 166px;
}
.sticky-footer .sipsa {
    bottom: 0;
    position: fixed;
    right: 83px;
}
.article-content table td {
    vertical-align: top;
    border: 1px solid #ccc !important;
}
/*fff*/

.esf-results-alpha-list{display:none;}
body.catalogue{
	background:#fff !important;
}
.mod-catal .inside h1{
	background: url(./images/bg_title_pres.jpg) top left no-repeat;
    font-family: oswaldlight !important;
    text-transform: uppercase !important;
    color: #454545 !important;
    font-weight: 300;
    font-size: 34px !important;
    padding: 25px 0 19px 0;
}
.esf-container #esf-form-zone{
	background:#ebebeb !important;
	border:none !important;
}
.esf-container #esf-form-zone .esf-intro-title{
	font-size:18px !important;
	color:#35393b !important;
	font-weight:normal !important;
	text-transform:uppercase;
}
.esf-container #esf-form-zone #esf_search_on{
	border:none !important;
}
.esf-container #esf-form-zone #esf_simple_search{
	border:none !important;
	margin-right:0 !important;
}
.mod-catal .form-select{
	border:none !important;
}
.mod-catal .form-select::after{
	border:none !important;
}
.mod-catal .esf-search-line .form-select::before{
	background:none !important;
}
.mod-catal .esf-search-line .form-select::after{
	background:none !important;
}
.mod-catal .esf-search-line #esf-btn-search:hover {
    background: #c84872;
}
.mod-catal .esf-search-line #esf-btn-search {
    width: 34%;
    font-size: 18px !important;
    font-weight: normal;
    background: #c84872;
    border-bottom: none;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}
.mod-catal .esf-as-header {
    background: #c84872;
}
.mod-catal .esf-as-filters {
    border: 1px solid #c84872;
    border-top: 4px solid #c84872;
}
.mod-catal .esf-search-plus .esf-search-plus-txt {
    text-decoration: underline;
    color: #c84872;
}
.mod-catal .esf-search-plus::after {
    padding-left: 1rem;
    content: '\ea15';
    font-family: 'icon-catal';
    font-size: 1.3rem;
    vertical-align: -0.2rem;
    color: #c84872;
}
.catal-ex-item {
	background: url(./images/bg_repeat_bottom_article.jpg) bottom repeat-x;	
}
.mod-catal .catal-ex-item-title a {
    color: #98bf0d !important;
    font-weight: normal;
    text-decoration: underline !important;
    text-transform: none;
}
.mod-catal .catal-ex-item-title a:hover{
    color: #98bf0d !important;
}
.mod-catal .catal-ex-item-group-title {
    border-bottom: none !important;
}
.mod-catal .btn-primary {
    color: #ffffff;
    background-color: #c84872 !important;
    border-color: #c84872 !important;
}
.mod-catal .catal-results-title {
    margin-bottom: 0.8rem;
    padding: 0 .5rem;
    border-bottom: none;
    font-size: 1.7rem;
    font-weight: 400;
    background: url(./images/bg_repeat_bottom_article.jpg) bottom repeat-x;
}
.mod-catal .esf-results-zone {
    border-bottom: none;
    background: url(./images/bg_repeat_bottom_article.jpg) bottom repeat-x !important;
}
.mod-catal .esf-results-zone .esf-results-alpha-list .current {
    background: #c84872 !important;
}
.mod-catal.myselection {
    background-color: #c84872 !important;
}
.mod-catal .block-title {
    border-bottom: medium none;
    color: #fff !important;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: normal !important;
    margin-bottom: 0.5em !important;
    padding-bottom: 0px !important;
}
.mod-catal.history {
    background-color: #c84872 !important;
}
.social-sharing .sr-list .sr-item {
    padding-bottom: 1em !important;
    margin-bottom: 1em !important;
    border-bottom: none !important;
    float: left !important;
    margin-right: 4px !important;
}
.social-sharing .sr-list li.sr-item a {
    padding: 0.4em 0.2em !important;
}