.landing-video-2 .container  { -ms-flex-pack: distribute; justify-content: space-around; }
.hright { font-family: neutrifstudio-bold,Helvetica,Arial,sans-serif; }
.hright a.video-wrap { margin-top: 50px; }
.hright h3 { color: #fff; text-align: center; line-height: 140%; padding-top: 60px; }

.countd { padding: 22px 13px; text-align: center; line-height: 1;  background: #0B8E36 ; font-family: neutrifstudio-bold,Helvetica,Arial,sans-serif; width: 400px; text-align: center; margin: 0 auto;
}
/*.countd a { text-decoration: none; color: #fff; font-size: 18px; line-height: 1; }*/
.countd span { text-decoration: none; color: #fff; font-size: 18px; line-height: 1; }
.countd li { display: inline-block; border-right: 1px solid #F39200; padding: 0 20px;  }
.countd li:last-child { border: 0; }

@media screen and (max-width:1199px) {
	.countd { padding: 15px 13px; }
	.hright h3 { padding-top: 40px; }

}


/*Evolutions*/

.solution-agriculteur {padding: 0!important }
.solution-agriculteur .container { display: flex; flex-wrap: wrap; margin: 20px auto;   }
.solution-agriculteur .container .column {flex: 0 0 25%; margin: 0; padding: 20px;  background-color: #FFFFF6; border: 1px solid #e7e2e0; box-sizing: border-box; margin: -1px -1px 0 0; }
.solution-agriculteur p.new { text-transform: uppercase; font-size: 13px; color: #0b8e36;  }
.solution-agriculteur .inside h2 { max-width: 50%; padding-bottom: 15px; font-size: 40px; line-height: 1; margin-top: 60px!important; }
.solution-agriculteur h3 { font-size: 28px; margin-top: 0; color: #0b8e36; line-height: 1; }
.solution-agriculteur .column svg { margin-bottom: 17px}
.solution-agriculteur .container_3cols { display: flex; flex-wrap: wrap; margin: 20px auto; background-color: #FFFFF6;  }
.solution-agriculteur .container_3cols .column { flex: 0 0 33.3333%; box-sizing: border-box;  border: 1px solid #e7e2e0; padding: 20px; margin: -1px -1px 0 0; }
.solution-agriculteur .container_2cols { display: flex; flex-wrap: wrap; margin: 60px auto; justify-content: space-between; }
.solution-agriculteur .container_2cols h2 {max-width: 100%; }
.solution-agriculteur .container_2cols .column { margin: 0; width: 47%; }

@media (max-width: 767px) { 
   .solution-agriculteur .container .column, .front .zone .solution-agriculteur .container_3cols .column { flex: 0 0 100%; }
.solution-agriculteur .inside h2 { max-width: 100%;  }

}
