.tt-dropdown-menu {
	margin-top: 0 !important;
	top: 50px;
	right: 0 !important
}
.site-banner .gsf-fields .gsf-input {
	height: 31px !important;
}
div#zone1 {
	z-index: 1;
}
.pg-pagin.slider-pagin {
	display: none;
}
.front .newsletter-form .nf-main-content {
	background: #ebebeb !important
}

.front .newsletter-form .nf-main-content form .nf-form-item .nf-form-input input{
	    border: 1px solid #96bf31;	
		width:302px
}
.front .newsletter-form .loading-txt,
.front .newsletter-form .nf-main-content form .nf-form-item{
	color:#000	
}

.front .nf-success-msg { 
    text-align: center; 
    max-width: 925px;
}


.front .nf-main-content .nf-success-msg.has-success .icon { 
    margin-left: 38px;
    margin-bottom: 10px;
}
.front .nf-success-msg { 
    text-align: center;
    clear: both;
    max-width: 925px;
    margin-top: 0;
}

span.esf-results-nb {
    display: none;
}

/*
.esf-results-alpha-filter {
    display: none;
}*/

.block.block-small.quicklinks.header_liens {
    float: left;
    position: absolute;
    top: 75px;
    left: 580px;
}
.block.block-small.quicklinks.header_liens span.txt-btn {
    display: none;
}
.block.block-small.quicklinks.header_liens ul.ql-list.unstyled {
    display: inline-flex;
}
.block.block-small.quicklinks.header_liens a.btn-primary, .block.block-small.quicklinks.header_liens a.btn-primary:hover{
    background-color: transparent;
    border: 0;
    padding: 0;
}
.espagne {
    background: url(./images/es.png);width: 30px;
    height: 20px;
}
.italie {
    background: url(./images/it.png);width: 30px;
    height: 20px;
}

.is-stuck .block.block-small.quicklinks.header_liens {
display:none;}

.btn-badge {
 background: #96bf31;
    color: #fff;
    font-family: oswaldlight;
    font-size: 18px;
    height: 43px;
    text-transform: none;
    line-height: 43px;
    padding: 0 2em;
}
  .btn-badge:hover {background: #e3e9ea;}
.js .site-banner .gsf-fields {
top:-230px !important;
}
header.is-stuck .btn-badge {
display:none !important;
}
.lang-switcher {
top:60px;
right:240px;}

.js .site-banner .gsf-fields:lang(en) {
    top: -287px!important;
}

.social {
    top: 126px;
}

