
.catalogue.exposant {
    background: transparent;
}

.catalogue.exposant #main::before {
    content: "";
    display: block;
    background-color: black;
    width: calc(100% - 4rem);
    margin: 0 2rem;
    position: absolute;
    left: 0;
    height: 35rem;
    background-image: url(/theme/sima2019_git_desktop/images/bg-12.jpg);
    background-size: cover;
    background-position: center;
}

.catalogue.exposant #main::after {
    content: "";
    display: block;
    background-color: white;
    width: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    top: 14.5rem;
    height: 38rem;
    z-index: -1;
}

.catalogue.exposant #main .site-wrapper.wrapper {
    background: transparent;
}

.catalogue.exposant h1 {
    font-size: 5.2rem;
    color: white;
    line-height: 5.6rem;
    max-width: 116rem;
    margin: 5rem auto 2.5rem auto;
    padding-top: 1rem;
}

.inside.ep-form-wrap {
    display: none;
}
#cxpmClientAccountWidget, #cxpm-connect-sso-dropdown {
    position: initial !important;
}
.body-corpo:not(.front):not(.content374293):not(.exposant):not(.article_list) .site-wrapper .zone .article-content .cl-content .cl-item .cl-item-illust img {
    padding: 1px;
}
figure img {
    padding-top: 20px;
}
.mod-catal .catal-ex-item.is-premium {
    background-color: #fff;
    border: 0px solid #fff;
    border-bottom: 1px solid #e2e2e2;
}
.mod-catal .catal-ex-item.is-premium::after{display:none;}


.body-corpo:not(.front):not(.content374293):not(.exposant):not(.article_list) .site-wrapper .zone .article-content p.important1 {
    background: #f5f5f5 !important;
    padding: 2rem 3rem;
    border-bottom: 3px solid #8cc63f !important;
    margin-top: 1rem;
}
.produit .mod-catal.catal-nav-ex .btn-primary {
    color: #fff;
    margin-top: -1.2rem;
    margin-right: -91.7rem;

}
.produit .mod-catal.catal-pr-details .edito .catal-pr-ex-name a span {
    color: #fff;
}
.produit .mod-catal.catal-pr-details .edito .btn-primary .animation-txt {
    font-size: 2rem;
    font-family: roboto-condensed-bold,Helvetica,Arial,sans-serif;
}

.produit .mod-catal .catal-prd-main{
    border: 2px solid #f26c4a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 88rem!important;
    margin: 0;
    padding: 1.5rem;
	margin-top: 250px;
	}
.produit .mod-catal .catal-prd-group {
    border-top: 0px solid #0c8192;
}
.produit h2.catal-prd-infos-main-title.catal-prd-main-title {
    color: #f26c4a;
    font-size: 4.4rem;
    font-family: roboto-condensed-bold,Helvetica,Arial,sans-serif;
    position: relative;
    padding-left: 6.2rem;
}
.produit h2.catal-prd-infos-main-title.catal-prd-main-title::before {
    content: "";
    position: absolute;
    background: #f26c4a;
    width: 4rem;
    height: .4rem;
    bottom: 35px;
    left: 0%;
}
.produit .mod-catal .catal-prd-exhibitor .catal-prd-exhibitor-view .icon-catal {
    display: none;
}
.produit .mod-catal.catal-pr-details .edito .btn-primary {
    background-color: #fff;
    margin: 0px 0px 0px 414px;
}
.catalogue.produit #main::before {
    content: "";
    display: block;
    background-color: #000;
    width: calc(100% - 4rem);
    margin: 0 2rem;
    position: absolute;
    left: 0;
    height: 35rem;
    background-image: url(/theme/sima2019_git_desktop/images/bg-12.jpg);
    background-size: cover;
    background-position: center;
}

li.ls-lang-item.ls-lang-es, li.ls-lang-item.ls-lang-it, li.ls-lang-item.ls-lang-de {
    display: none;
}

.social-sharing .inside .sr-title {
    margin-bottom: 30px;
}


/* Test Calendrier */
.mod-catal .icon-catal-star-full {
   top: 0 !important;
}

.mod-catal .qty-round-big,
.mod-catal .qty-round-small {
   display: none;
}

.mod-catal h1 {
   margin-top: 60px;
}

.mod-catal h1,
.mod-catal h2 {
   font-family: Raleway, sans-serif;
   font-weight: 700;
   color: #8fbe24;
}

.mod-catal h2 {
   text-transform: uppercase;
}

.mod-catal a:hover {
   color: #8fbe24;
}

.mod-catal .catal-results-title {
   border-color: #8fbe24;
}

.mod-catal .catal-ed-main-title {
   color: #8fbe24;
   font-family: Raleway, sans-serif;
   font-weight: 700;
   text-transform: uppercase;
}

.mod-catal .catal-ed-activity .catal-ed-activity-link {
   color: #fff;
   background: #8fbe24;
   padding: .9rem .8rem .7rem;
}

.mod-catal .catal-ed-activity .catal-ed-activity-link:hover {
   color: #fff;
   background: #f36f23;
}

.mod-catal .catal-ed-activity .catal-ed-activity-title {
   font-weight: 400;
}

.mod-catal .catal-ed-group {
   border: none;
}

.mod-catal .catal-ed-main-title .qty-round-big {
   display: none;
}

.mod-catal .catal-ex-item-title a:hover {
   color: #8fbe24;
}

.mod-catal .catal-ex-item-buttons .animation-txt {
   margin-left: 10px;
   font-size: 10px;
}

.mod-catal .catal-ed-brands .catal-ed-brands-link:hover,
.mod-catal .catal-ed-products .catal-edp-title-link:hover {
   color: #000;
}

.mod-catal .catal-ed-products .catal-edp-title {
   font-weight: 400;
}

.mod-catal .icon-catal-chevrons,
.mod-catal .icon-catal-cross,
.mod-catal .icon-catal-long-arrow-right {
   color: #8fbe24;
}

.mod-catal .selection-empty .icon-catal-star-empty {
   display: none;
}

.mod-catal .esf-as-filters {
   border: none;
}

.mod-catal .esf-as-list-filters a,
.mod-catal .esf-as-list-filters a .esf-as-list-filters-next-lvl:after {
   color: #8fbe24;
}

.mod-catal .esf-as-list-filters a:hover {
   background: #8fbe24;
}

.mod-catal .esf-as-list-filters a:hover .esf-as-list-filters-next-lvl:after {
   color: #8fbe24;
}

.mod-catal .esf-as-af-filters span {
   color: #000;
}

.mod-catal .esf-as-af-filters .icon-catal-cross {
   color: #fff;
}

.mod-catal .esf-as-header {
   background: #000;
}

.mod-catal .esf-as-header p {
   font-weight: 400;
}

.mod-catal .esf-as-header .esf-as-title {
   background: #f36f23;
   font-size: 15px;
   font-size: 1.5rem;
   width: 100%;
   padding: 1rem 2.8rem 0 4rem;
}

.mod-catal .esf-as-header .esf-as-title:active,
.mod-catal .esf-as-header .esf-as-title:focus,
.mod-catal .esf-as-header .esf-as-title:hover {
   background: #f36f23 !important;
}

@media (min-width: 750px) {
   .mod-catal .esf-as-header .esf-as-title {
      font-size: 16px;
      font-size: 1.6rem;
      padding: 0;
   }
}

.mod-catal .esf-as-heading .esf-remove-filters {
   color: #000;
}

.mod-catal .esf-sublvl-heading:hover {
   background: #8fbe24 !important;
}

.mod-catal .esf-sublvl-heading:hover .icon-catal-arrow-left {
   color: #8fbe24;
}

.mod-catal .esf-sublvl-heading:hover .icon-catal-arrow-left:before {
   color: #fff !important;
   background: none !important;
}

.mod-catal .esf-sublvl-heading .esf-back-to-prev-lvl {
   background: #8fbe24;
}

.mod-catal .esf-sublvl-heading .esf-back-to-prev-lvl .icon-catal-arrow-left {
   color: #fff;
}

.mod-catal .esf-sublvl-heading .esf-back-to-prev-lvl .icon-catal-arrow-left:before {
   color: #fff !important;
}

.mod-catal .esf-sublvl-heading .esf-back-to-prev-lvl:hover .icon-catal-arrow-left {
   background: #8fbe24;
}

.mod-catal .esf-sublvl-heading .esf-back-to-prev-lvl:hover .icon-catal-arrow-left:before {
   color: #fff;
   background: none !important;
}

.mod-catal .esf-sublvl-heading .esf-back-to-prev-lvl .icon-catal-arrow-left:before {
   color: #8fbe24;
}

.mod-catal .esf-sublvl-heading.esf-sublvl-heading {
   background: #8fbe24;
}

.mod-catal .esf-tree .esf-has-sub-items>.esf-choice-container .esf-next-lvl:after {
   color: #8fbe24;
}

.mod-catal .esf-tree .esf-has-sub-items>.esf-choice-container .esf-next-lvl:hover:after {
   background: #8fbe24;
   color: #fff;
}

.mod-catal .esf-as-list-filters .current a {
   background: #8fbe24;
}

.mod-catal .hist-footer .btn-invert,
.mod-catal .hist-footer .btn-primary,
.mod-catal .mysel-footer .btn-invert,
.mod-catal .mysel-footer .btn-primary {
   font-family: Raleway, sans-serif;
   border: none;
   font-weight: 400;
   background: #8fbe24;
   color: #fff;
}

.mod-catal .hist-footer .btn-invert:focus,
.mod-catal .hist-footer .btn-invert:hover,
.mod-catal .hist-footer .btn-primary:focus,
.mod-catal .hist-footer .btn-primary:hover,
.mod-catal .mysel-footer .btn-invert:focus,
.mod-catal .mysel-footer .btn-invert:hover,
.mod-catal .mysel-footer .btn-primary:focus,
.mod-catal .mysel-footer .btn-primary:hover {
   background: #f36f23;
   color: #fff;
}

.mod-catal .hist-title,
.mod-catal .mysel-title {
   padding: 0 0 0 4rem;
}

.mod-catal .hist-title .hist-close-btn,
.mod-catal .hist-title .mysel-close-btn,
.mod-catal .mysel-title .hist-close-btn,
.mod-catal .mysel-title .mysel-close-btn {
   color: #000;
}

.contacts-list .inside .mod-catal h1,
.mod-catal .block-title,
.mod-catal .contacts-list .inside h1,
.mod-catal .partner-list .inside h1,
.partner-list .inside .mod-catal h1 {
   padding-bottom: 0;
   margin-bottom: 0;
   font-size: 1.8rem;
   font-weight: 400;
   border-bottom: none;
   font-family: Raleway, sans-serif;
   color: #474d4e;
}

.contacts-list .inside .mod-catal h1:not(:first-child),
.mod-catal .block-title:not(:first-child),
.mod-catal .contacts-list .inside h1:not(:first-child),
.mod-catal .partner-list .inside h1:not(:first-child),
.partner-list .inside .mod-catal h1:not(:first-child) {
   margin-top: 0;
}

.mod-catal .btn-primary {
   color: #fff;
   background: #8fbe24;
   font-family: Raleway, sans-serif;
   text-transform: uppercase;
   border: none;
}

.mod-catal .btn-primary:focus,
.mod-catal .btn-primary:hover {
   background: #f36f23;
}

.mod-catal .btn-primary .selection-empty,
.mod-catal .btn-primary .selection-full {
   line-height: 1.7em;
}

.mod-catal .btn-primary .selection-empty:before,
.mod-catal .btn-primary .selection-full:before {
   content: "";
   top: 0;
   float: left;
   left: 52px;
   color: #fff;
   display: block;
   width: 25px;
   height: 22px;
   background: url(/theme/sitevi_git_desktop/img/icons/icon-heart-plus.svg) no-repeat;
   z-index: 2;
}

.mod-catal .esf-search-line a {
   font-style: italic;
   color: #000;
   text-decoration: none;
}

.mod-catal .esf-search-line a:focus,
.mod-catal .esf-search-line a:hover {
   color: #8fbe24 !important;
}

.mod-catal .esf-search-line a:after {
   display: none;
   font-style: normal;
}

.mod-catal .inside h1 {
   position: relative;
   margin: 0;
   padding-top: 35px;
   padding-bottom: 0;
   font-family: ITC Avant Garde Gothic W01, sans-serif;
   font-size: 36px;
   font-size: 3.6rem;
   font-weight: 200;
   line-height: 1.2;
   text-transform: uppercase;
   color: #8fbe24;
   border: none;
}

@media (min-width: 750px) {
   .mod-catal .inside h1 {
      font-size: 48px;
      font-size: 4.8rem;
   }
}

.mod-catal .esf-as-header {
   display: inline-block;
   position: absolute;
   top: 0;
   height: 5rem;
   padding: 0 1rem;
   background: #f36f23;
   color: #fff;
}

@media (min-width: 750px) {
   .mod-catal .esf-as-header {
      top: -5rem;
   }
}

.mod-catal .esf-results-zone {
   background: #fff;
}

.mod-catal .esf-results-zone .esf-results-alpha-list a:focus,
.mod-catal .esf-results-zone .esf-results-alpha-list a:hover {
   color: #f36f23;
}

.mod-catal .esf-results-zone .esf-results-alpha-list .current {
   background: #8fbe24;
}

.mod-catal .esf-results-zone .esf-results-alpha-list .current:after {
   content: "";
   position: absolute;
   display: block;
   bottom: -19px;
   left: 50%;
   right: 0;
   width: 0;
   height: 0;
   margin: auto;
   -webkit-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
       transform: translateX(-50%);
   border-style: solid;
   border-width: 0 8px 10px;
   border-color: transparent transparent #fff;
}

.mod-catal .esf-search-line #esf-btn-search {
   background: #f36f23;
   font-weight: 400;
   border: none;
}

.mod-catal .esf-search-line #esf-btn-search:hover {
   background: #8fbe24;
}

.mod-catal .esf-search-line a {
   font-size: 12px;
   right: 0;
}

.mod-catal .catal-ed-main,
.mod-catal .esf-form-zone {
   border: none;
}

.mod-catal .catal-ed-main .esf-intro-title,
.mod-catal .esf-form-zone .esf-intro-title {
   font-weight: 400;
   color: #000;
}

.mod-catal.exhibitor-search-form {
   font-family: Raleway, sans-serif;
}

.mod-catal.exhibitor-search-form a:hover {
   color: #fff;
}

.mod-catal.history,
.mod-catal.myselection {
   padding: 1em;
   margin-bottom: 1em;
   color: #000;
   background: #fff;
   border: 1px solid rgba(39, 33, 31, 0.5);
}

.mod-catal.history .qty-round,
.mod-catal.myselection .qty-round {
   color: #000;
   top: .4rem;
}

.page-details .mod-catal .hist-title .qty-round,
.page-details .mod-catal .mysel-title .qty-round,
.page-myselection .mod-catal .hist-title .qty-round {
   top: -.8rem;
   left: -.7rem;
   right: 0;
}

.icon-catal-long-arrow-left,
.icon-catal-long-arrow-right {
   color: #8fbe24;
}

.mod-catal.catal-nav-ex .btn-primary {
   text-transform: uppercase;
   font-weight: 400;
}

.mod-catal.catal-nav-ex .catal-nav-ex-link span {
   color: #000;
}

.mod-catal.catal-nav-ex .catal-nav-ex-link span:hover {
   color: #8fbe24;
}

.mod-catal.catal-nav-ex .catal-nav-ex-link:hover {
   background: none;
}

.mod-catal.catal-nav-affix {
   display: none;
}

.mod-catal.catal-nav-ex .catal-nav-ex-sep {
   border-left: 5px solid #8fbe24;
}

.mod-catal.catal-nav-ex .catal-nav-ex-link,
.mod-catal.catal-nav-ex .catal-nav-ex-more-link {
   color: #000;
   font-weight: 400;
}

.mod-catal.catal-nav-ex .catal-nav-ex-link .icon-catal,
.mod-catal.catal-nav-ex .catal-nav-ex-link:hover,
.mod-catal.catal-nav-ex .catal-nav-ex-more-link .icon-catal,
.mod-catal.catal-nav-ex .catal-nav-ex-more-link:hover {
   color: #8fbe24;
}
/*Fin Test Calendrier */
