
.catalogue.exposant {
    background: transparent;
}

.catalogue.exposant #main::before {
    content: "";
    display: block;
    background-color: black;
    width: calc(100% - 4rem);
    margin: 0 2rem;
    position: absolute;
    left: 0;
    height: 35rem;
    background-image: url(/theme/sima2019_git_desktop/images/bg-12.jpg);
    background-size: cover;
    background-position: center;
}

.catalogue.exposant #main::after {
    content: "";
    display: block;
    background-color: white;
    width: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    top: 14.5rem;
    height: 38rem;
    z-index: -1;
}

.catalogue.exposant #main .site-wrapper.wrapper {
    background: transparent;
}

.catalogue.exposant h1 {
    font-size: 5.2rem;
    color: white;
    line-height: 5.6rem;
    max-width: 116rem;
    margin: 5rem auto 2.5rem auto;
    padding-top: 1rem;
}

.inside.ep-form-wrap {
    display: none;
}
#cxpmClientAccountWidget, #cxpm-connect-sso-dropdown {
    position: initial !important;
}
.body-corpo:not(.front):not(.content374293):not(.exposant):not(.article_list) .site-wrapper .zone .article-content .cl-content .cl-item .cl-item-illust img {
    padding: 1px;
}
figure img {
    padding-top: 20px;
}
.mod-catal .catal-ex-item.is-premium {
    background-color: #fff;
    border: 0px solid #fff;
    border-bottom: 1px solid #e2e2e2;
}
.mod-catal .catal-ex-item.is-premium::after{display:none;}


.body-corpo:not(.front):not(.content374293):not(.exposant):not(.article_list) .site-wrapper .zone .article-content p.important1 {
    background: #f5f5f5 !important;
    padding: 2rem 3rem;
    border-bottom: 3px solid #8cc63f !important;
    margin-top: 1rem;
}
.produit .mod-catal.catal-nav-ex .btn-primary {
    color: #fff;
    margin-top: -1.2rem;
    margin-right: -91.7rem;

}
.produit .mod-catal.catal-pr-details .edito .catal-pr-ex-name a span {
    color: #fff;
}
.produit .mod-catal.catal-pr-details .edito .btn-primary .animation-txt {
    font-size: 2rem;
    font-family: roboto-condensed-bold,Helvetica,Arial,sans-serif;
}

.produit .mod-catal .catal-prd-main{
    border: 2px solid #f26c4a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 88rem!important;
    margin: 0;
    padding: 1.5rem;
	margin-top: 250px;
	}
.produit .mod-catal .catal-prd-group {
    border-top: 0px solid #0c8192;
}
.produit h2.catal-prd-infos-main-title.catal-prd-main-title {
    color: #f26c4a;
    font-size: 4.4rem;
    font-family: roboto-condensed-bold,Helvetica,Arial,sans-serif;
    position: relative;
    padding-left: 6.2rem;
}
.produit h2.catal-prd-infos-main-title.catal-prd-main-title::before {
    content: "";
    position: absolute;
    background: #f26c4a;
    width: 4rem;
    height: .4rem;
    bottom: 35px;
    left: 0%;
}
.produit .mod-catal .catal-prd-exhibitor .catal-prd-exhibitor-view .icon-catal {
    display: none;
}
.produit .mod-catal.catal-pr-details .edito .btn-primary {
    background-color: #fff;
    margin: 0px 0px 0px 414px;
}
.catalogue.produit #main::before {
    content: "";
    display: block;
    background-color: #000;
    width: calc(100% - 4rem);
    margin: 0 2rem;
    position: absolute;
    left: 0;
    height: 35rem;
    background-image: url(/theme/sima2019_git_desktop/images/bg-12.jpg);
    background-size: cover;
    background-position: center;
}
